<p id="notice"><%= notice %></p>

<p>
  <strong> title:</strong>
  <%= @url. title %>
<p>created at: <%= Time.now %></p>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', home_path %>
